* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

<<<<<<< HEAD


body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

a {
  text-decoration: none;
  color: white;
}

li {
  list-style: none;
}

/* ####################### */



/* ######## ####################       INDEX-HOME  ####################### ######### */


/* ###############       MOVILE     ################## */
=======
ul {
  list-style-type: none;
}

li {
  list-style-type: none;
  list-style-position: none;
}

a {
  text-decoration: none;
}
>>>>>>> rama-sass

.grilla {
  background-color: rgb(255, 109, 80);
}

<<<<<<< HEAD
.header-logo:hover {
  transform: scale(1.2);

  
  justify-content: center;
  align-items: center;
}

.header-titulo  {

=======
.header {
  display: block none;
}
.header-logo {
  display: grid;
  justify-content: center;
  align-items: center;
}
.header-titulo {
  display: grid;
>>>>>>> rama-sass
  color: white;
  align-content: center;
  text-align: center;
  padding: 20px;
<<<<<<< HEAD
  text-shadow:2px 2px 2px red, 4px 2px 2px black  ;
=======
  font-family: Arial, sans-serif;
>>>>>>> rama-sass
}

.main {
  display: grid;
  grid-area: main;
<<<<<<< HEAD
  grid-template-rows: 10vh 1fr;
}

.flex-nav {
  
  grid-row: 1 2;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.home:hover{
  transform: scale(1.2);
}
.produc:hover{
  transform: scale(1.2);
}
.art:hover{
  transform: scale(1.2);
}
.recet:hover{
  transform: scale(1.2);
}
.natu:hover{
  transform: scale(1.2);
}
.main2 {
  grid-row: 2 3;
  display: grid;

  grid-template-rows: repeat(6, 1fr);
  gap: 10px;
  grid-template-areas:
      "bienestar"
      " productos"
      "recetas"
      "mermeladas"
      "muecas"
      "secos";
}

.bienestar {

  background-color: rgb(166, 73, 253);
  display: grid;
  grid-area: bienestar;
  color: white;
  align-content: center;
  text-align: center;
}

.productos {
  background-color: rgb(129, 194, 226);
  display: grid;
  grid-area: productos;
  color: white;
  align-content: center;
  text-align: center;
}

.recetas {
  background-color: rgb(249, 170, 61);
  display: grid;
  grid-area: recetas;
  color: white;
  align-content: center;
  text-align: center;
}

.mermeladas {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

}

.muecas {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

}

.secos {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

/* #######footer#### */
.footer {
  grid-area: footer;
  display: grid;
  grid-template-rows: repeat(3 1fr);

}

.contacto {

  color: white;
  grid-row: 1 2;
  display: grid;
  align-content: center;
  text-align: center;
  padding: 10px;
}

.pagos {

  color: white;
  grid-row: 2 3;
  display: grid;
  align-content: center;
  text-align: center;
  padding: 10px;
}

.mapa {

  color: white;
  grid-row: 3 4;
  display: grid;
  justify-content: center;
  align-content: center;
  padding: 10px;
}
/* ######################    PRODUCTOS    ######################################## */

.grilla-producto {
  background-color: rgb(39, 37, 37);
}
.flex-navproduc{

  grid-row: 1 2;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.home:hover{
  transform: scale(1.2);
}
.produc:hover{
  transform: scale(1.2);
}
.art:hover{
  transform: scale(1.2);
}
.recet:hover{
  transform: scale(1.2);
}
.natu:hover{
  transform: scale(1.2);
}
.main-produc {
  display: grid;
  padding: 20px;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
  grid-template-areas: "lis-pro"
      "listado"
}

.lis-pro {
  color: white;
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 30px;
}

.legumbres {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 10px;
}

.congelados {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 10px;
}

.cereales {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 10px;
}

.dulces {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 10px;
}

.varios {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 10px;
} 

/* ############################################# ARTESANALES  #########################################*/

.grillart {
  background-color: rgb(82, 154, 255)
}

.header-art {
  display: grid;
  grid-area: header;
  grid-template-columns: 1fr 2fr;
  grid-template-areas: "header-logo  header-titulo";
}


.header-logo {
  display: grid;
  grid-area: header-logo;
  justify-content: center;
  align-content: center;

}

.header-titulo {
  display: grid;
  grid-area: header-titulo;
  align-content: center;
  text-align: center;
}

.home:hover{
  transform: scale(1.2);
}
.produc:hover{
  transform: scale(1.2);
}
.art:hover{
  transform: scale(1.2);
}
.recet:hover{
  transform: scale(1.2);
}
.natu:hover{
  transform: scale(1.2);
}
.main-art {
  display: grid;
  padding: 20px;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
  grid-template-areas: "artesanales"
      "art-img"

}

.artesanales {
  display: grid;
  grid-area: artesanales;
  color: white;
  background-color: rgb(255, 109, 80);
  align-content: center;
  text-align: center;

}

.galletas-art {
=======
  grid-template-rows: 10vh 100rem;
}

.menu {
  grid-row: 1 2;
  justify-content: center;
}

.menu-lista {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.pilares {
  grid-row: 2 3;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  gap: 10px;
  grid-template-areas: "bienestar" "productos" "recetas" "galeria";
}
.pilares-bienestar {
  display: grid;
  color: white;
  align-content: center;
  text-align: center;
  background-color: rgb(166, 73, 253);
  grid-area: bienestar;
}
.pilares-productos {
  background-color: rgb(129, 194, 226);
  grid-area: productos;
  display: grid;
  color: white;
  align-content: center;
  text-align: center;
}
.pilares-recetas {
  background-color: rgb(249, 170, 61);
  grid-area: recetas;
  display: grid;
  color: white;
  align-content: center;
  text-align: center;
}
.pilares-galeria {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.footer {
  padding: 40px;
  color: white;
  display: grid;
  align-content: center;
  text-align: center;
  padding: 30px;
  color: white;
  align-content: center;
  text-align: center;
  padding: 20px;
  font-family: Arial, sans-serif;
}
.footer-contacto {
  padding: 25px;
}
.footer-pagos {
  padding: 25px;
}
.footer-mapa {
  padding: 25px;
}
.footer-contacto:hover {
  transform: scale(2);
}
.footer-pagos:hover {
  transform: scale(2);
}
.footer-mapa:hover {
  transform: scale(2);
}

.grillart {
  background-color: rgb(82, 154, 255);
}

.main-artesanales {
  display: grid;
  grid-template-rows: 0.2fr repeat(2, 0.5fr);
}

.descripcion-artesanales {
  display: grid;
  color: white;
  align-content: center;
  text-align: center;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.galeria {
>>>>>>> rama-sass
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
<<<<<<< HEAD
  padding: 10px;

}

.pan-art {
=======
}

.grilla-producto {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas: "header" "main" "footer";
  background-color: rgb(205, 146, 253);
}

.main-productos {
  display: grid;
  grid-template-rows: max-content;
}

.galeria-imagenes-productos {
>>>>>>> rama-sass
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
<<<<<<< HEAD
  padding: 10px;

}

.mermeladas-art {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 10px;

}

/* #############################    RECETAS   #############################*/
.grilla-receta {
  background-color: rgb(246, 202, 209);
}

.home:hover{
  transform: scale(1.2);
}
.produc:hover{
  transform: scale(1.2);
}
.art:hover{
  transform: scale(1.2);
}
.recet:hover{
  transform: scale(1.2);
}
.natu:hover{
  transform: scale(1.2);
}

.titulo-receta {
  color: black;
}

.main-recetas {
  display: grid;
  padding: 20px;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
  grid-template-areas: "rece-salu"
      "receta-img"
}
.parrafo-receta{
  color: black;
}
.rece-salu {
  display: grid;
  grid-area: arrece-salu;
  align-content: center;
  text-align: center;
}

.croqueta {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;

}

.garbanzo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.masa {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.contacto-rece {
  color: black;
  grid-row: 2 3;
  display: grid;
  align-content: center;
  text-align: center;
  padding: 10px;
}

.pagos-rece {
  color: black;
  grid-row: 2 3;
  display: grid;
  align-content: center;
  text-align: center;
  padding: 10px;
}

.mapa-rece {
  color: black;
  grid-row: 3 4;
  display: grid;
  justify-content: center;
  align-content: center;
  padding: 10px;

}


/* ############### ######################   desayunos    ######################## */
.grilla-desayuno {
  background-color: rgb(196, 170, 220);
}

.titulo-dsayuno {
  color: rgb(255, 109, 80);
  align-content: center;
  text-align: center;
  padding: 30px;
}
.home:hover{
  transform: scale(1.2);
}
.produc:hover{
  transform: scale(1.2);
}
.art:hover{
  transform: scale(1.2);
}
.recet:hover{
  transform: scale(1.2);
}
.natu:hover{
  transform: scale(1.2);
}

p {
  color: white;
  align-content: center;
  text-align: center;
  padding: 30px;
}

.boxte {
=======
}

.titulo-lista-productos {
  color: white;
  align-content: center;
  text-align: center;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.grilla-receta {
  background-color: rgb(255, 109, 80);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas: "header" "main" "footer";
}

.descripcion-recetas {
  color: white;
  align-content: center;
  text-align: center;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.descripcion-titulo {
  padding: 30px;
}

.descripcion-subtitulo {
  padding: 30px;
}

.galeria-recetas {
>>>>>>> rama-sass
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
<<<<<<< HEAD
  padding: 10px;
}

.caja-desa {
=======
  padding: 20px;
}

.croqueta:hover {
  transform: scale(1.5);
}

.garbanzo:hover {
  transform: scale(1.5);
}

.masa:hover {
  transform: scale(1.5);
}

.grilla-desayuno {
  background-color: rgb(136, 55, 136);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas: "header" "main" "footer";
}

.descripcion-desayuno {
  color: white;
  align-content: center;
  text-align: center;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.galeria-imagenes-boxte {
>>>>>>> rama-sass
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
<<<<<<< HEAD
  padding: 10px;
}

.caja-tarje {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 10px;
}

.caja {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 10px;
}









/* ############################# NOTEBOOCK index  ################################################## */
@media (min-width:630px) {
  .grilla {
      background-color: rgb(255, 109, 80);
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 2fr 1fr;
      grid-template-areas:
          "header"
          "main"
          "footer";
  }

  .header {
      display: grid;
      grid-area: header;
      grid-template-columns: 1fr 2fr;
      grid-template-areas: "header-logo  header-titulo";
  }

  .header-logo {

      display: grid;
      grid-area: header-logo;
      justify-content: center;
      align-content: center;
  }

  .header-titulo {
      color: white;
      font-size: 2vw;
      display: grid;
      grid-area: header-titulo;
      align-content: center;
      text-align: center;
  }

  .main {
      display: grid;
      grid-area: main;
      grid-template-columns: 1fr 2fr;
      grid-template-rows: 1fr;
      grid-template-areas: "flex-nav main2";
  }

  .flex-nav {
      grid-area: flex-nav;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(5, 1fr);
      grid-template-areas:
          "home"
          "produc"
          "art"
          "recet"
          "natu";
  }

  .home {
      display: grid;
      grid-area: home;
      justify-items: center;
      align-content: center;
  }

  .produc {

      display: grid;
      grid-area: produc;
      justify-items: center;
      align-content: center;

  }

  .art {
      display: grid;
      grid-area: art;
      justify-items: center;
      align-content: center;
  }

  .recet {
      display: grid;
      grid-area: recet;
      justify-items: center;
      align-content: center;
  }

  .natu {
      display: grid;
      grid-area: natu;
      justify-items: center;
      align-content: center;
  }


  .main2 {

      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, 1fr);
      grid-area: main2;
      gap: 10px;
      grid-template-areas:
          "bienestar productos recetas"
          "mermeladas muecas secos";
  }

  .bienestar {
      grid-area: bienestar;
      background-color: rgb(166, 73, 253);
      display: grid;
      color: white;
      align-content: center;
      text-align: center;
  }

  .productos {

      background-color: rgb(129, 194, 226);
      color: white;
      grid-area: productos;
      display: grid;
      align-content: center;
      text-align: center;
  }

  .recetas {
      background-color: rgb(249, 170, 61);

      color: white;
      grid-area: recetas;
      display: grid;
      align-content: center;
      text-align: center;

  }

  .mermeladas {
      display: grid;
      grid-area: mermeladas;
      justify-content: center;
      align-content: center;
  }

  .muecas {
      display: grid;
      grid-area: muecas;
      justify-content: center;
      align-content: center;
  }

  .secos {
      display: grid;
      grid-area: secos;
      justify-content: center;
      align-content: center;

  }

  .footer {
      grid-area: footer;
      display: grid;
      grid-template-columns: repeat(3 1fr);
      grid-template-areas: "mapa contacto pagos";
  }

  /* ###################  PRODUCTOS  ################################# */


  .listado{
    grid-column: 2 3;
    grid-row: 2 3;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr) auto;
    gap: 20px;
    justify-content: space-between;
 }
 










  /* ######################### noteboock artesanales   ######################## */

  .grillaart {
      background-color: rgb(82, 154, 255)
  }

  .header-titulo-art {

      color: white;
      font-size: 2vw;
      display: grid;
      grid-area: header-titulo;
      align-content: center;
      text-align: center;
  }
  
  

  .footer-art {
      grid-area: footer;
      display: grid;
      grid-template-columns: repeat(3 1fr);
      grid-template-areas: "mapa contacto pagos";
  }
}
=======
  padding: 20px;
}

.boxte-items:hover {
  transform: scale(1.5);
}

.boxte-abierto:hover {
  transform: scale(1.5);
}

.boxte-cerrado:hover {
  transform: scale(1.5);
}

@media (min-width: 630px) {
  .grilla {
    background-color: rgb(255, 109, 80);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: "header" "main" "footer";
  }
  .header {
    display: grid;
    grid-area: header;
    grid-template-columns: 0.5fr 1.5fr;
    grid-template-areas: "logo titulo";
    height: auto;
    padding: 10%;
  }
  .header-logo {
    display: grid;
    grid-area: logo;
    justify-content: center;
    align-content: flex-start;
  }
  .header-titulo {
    display: grid;
    grid-area: titulo;
    color: white;
    align-content: center;
    text-align: center;
    padding: 20px;
    font-family: Arial, sans-serif;
    font-size: 2vw;
  }
  .main {
    display: grid;
    grid-area: main;
    grid-template-columns: 0.3fr 1fr;
    grid-template-rows: 0.7fr;
    grid-template-areas: "menu pilares";
  }
  .menu-lista {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .menu-lista li {
    padding-bottom: 50%;
    background-color: #a1f79a;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: inline-block;
    margin-right: 10px;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    transition: transform 0.3s;
    color: #0e0d0d;
    font-family: Arial, sans-serif;
  }
  .menu-lista li:hover {
    transform: scale(1.2);
  }
  .pilares {
    color: white;
    align-content: center;
    text-align: center;
    padding: 20px;
    font-family: Arial, sans-serif;
    display: grid;
    grid-template-rows: repeat(4, 0.2fr);
  }
  .pilares-galeria {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
  }
  .footer {
    grid-area: footer;
    display: grid;
    grid-template-columns: repeat(3 1fr);
    grid-template-areas: "footer-mapa footer-contacto footer-pagos";
  }
  .footer-contacto {
    color: white;
    display: grid;
    align-content: center;
    text-align: center;
    padding: 30px;
  }
  .footer-contacto:hover {
    transform: scale(2);
  }
  .footer-pagos {
    color: white;
    display: grid;
    align-content: center;
    text-align: center;
    padding: 30px;
  }
  .footer-pagos:hover {
    transform: scale(2);
  }
  .footer-mapa:hover {
    transform: scale(2);
  }
  .grillart {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: "header" "main" "footer";
  }
  .header {
    display: grid;
    grid-area: header;
    grid-template-columns: 0.5fr 1.5fr;
    grid-template-areas: "logo titulo";
    height: auto;
    padding: 10%;
  }
  .header-logo {
    display: grid;
    grid-area: logo;
    justify-content: center;
    align-content: flex-start;
  }
  .header-titulo {
    display: grid;
    grid-area: titulo;
    color: white;
    align-content: center;
    text-align: center;
    padding: 20px;
    font-family: Arial, sans-serif;
    font-size: 2vw;
  }
  .main-artesanales {
    display: grid;
    grid-area: main;
    grid-template-columns: 0.3fr 1fr;
    grid-template-areas: "menu contenido-artesanales";
    grid-template-rows: none;
  }
  .grilla-producto {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: "header" "main" "footer";
  }
  .main-productos {
    display: grid;
    grid-area: main;
    grid-template-columns: 20% 80%;
    grid-template-rows: 30% 60%;
    grid-template-areas: "menu galeria-listado-productos " "menu galeria-listado-productos ";
  }
  .titulo-lista-productos {
    display: grid;
    align-content: center;
    text-align: center;
  }
  .menu {
    display: grid;
    grid-area: menu;
  }
  .galeria-listado-productos {
    display: grid;
    grid-area: galeria-listado-productos;
    grid-template-rows: 200px 0.5fr;
    grid-template-areas: "titulo-lista-productos" " galeria-imagenes-productos ";
  }
  .galeria-imagenes-productos {
    display: grid;
    grid-template-columns: 0.3fr 0.3fr 0.3fr;
    grid-template-rows: 0.3fr 0.3fr 0.3fr;
    grid-template-areas: "galeria-varios galeria-congelados  galeria-legumbres" "galeria-cereales galeria-dulces";
  }
  .galeria-varios:hover {
    transform: scale(1.5);
  }
  .galeria-congelados:hover {
    transform: scale(1.5);
  }
  .galeria-cereales:hover {
    transform: scale(1.5);
  }
  .galeria-dulces:hover {
    transform: scale(1.5);
  }
  .galeria-legumbres:hover {
    transform: scale(1.5);
  }
  .galeria-recetas {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: minmax(0, 1fr);
    grid-gap: 10px;
    max-width: 35rem;
    height: auto;
    justify-content: center;
  }
  .galeria-recetas img {
    width: 100%;
    height: auto;
    object-fit: cover;
    transition: 0.3s;
  }
  .galeria-recetas img:hover {
    transform: scale(3);
    cursor: crosshair;
    opacity: 5;
    filter: contrast(150%);
  }
  .main-desayuno {
    display: grid;
    grid-area: main;
    grid-template-columns: 20% 80%;
    grid-template-rows: 30% 60%;
    grid-template-areas: "menu descripcion-desayuno " "menu galeria-imagenes-boxte ";
  }
  .descripcion-desayuno {
    display: grid;
    grid-template-rows: 1fr;
    padding: 30px;
  }
  .galeria-imagenes-boxte {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: minmax(0, 1fr);
    grid-gap: 30px;
    max-width: 35rem;
    height: auto;
    justify-content: center;
  }
  .galeria-imagenes-boxte img {
    width: 100%;
    height: auto;
    object-fit: cover;
    transition: 0.3s;
  }
  .galeria-imagenes-boxte img:hover {
    transform: scale(3);
    cursor: crosshair;
    opacity: 5;
    filter: contrast(150%);
  }
}

/*# sourceMappingURL=styls.css.map */
>>>>>>> rama-sass
